@-keyframes scale-up-hor-center {
	0% {
		-webkit-transform: scaleX(0.4);
		transform: scaleX(0.4);
	}
	100% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
}
@keyframes scale-up-hor-center {
	0% {
		-webkit-transform: scaleX(0.4);
		transform: scaleX(0.4);
	}
	100% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
}
@-keyframes slide-in-fwd-center {
	0% {
		-webkit-transform: translateZ(-1400px);
		transform: translateZ(-1400px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
}
@keyframes slide-in-fwd-center {
	0% {
		-webkit-transform: translateZ(-1400px);
		transform: translateZ(-1400px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
}

@keyframes focus-in-expand {
	0% {
		letter-spacing: -0.5em;
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}
}
@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes slide-in-fwd-top {
	0% {
		-webkit-transform: translateZ(-1400px) translateY(-800px);
		transform: translateZ(-1400px) translateY(-800px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0) translateY(0);
		transform: translateZ(0) translateY(0);
		opacity: 1;
	}
}

@keyframes slide-in-bottom {
	0% {
		-webkit-transform: translateY(2000px);
		transform: translateY(2000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

.main {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80vw;
}

.nickname {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	line-height: 0.2vw;
	margin: 1vw;
	animation-name: focus-in-expand, fade;
	animation-duration: 1s, 1s;
	animation-delay: 0.5s, 0.5s;
	animation-fill-mode: both, both;
	font-weight: 500;
}

.first-btn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 1.3rem;
}

.first-btn img {
	width: 1.5vw;
	margin-right: 1vw;
	border-radius: 1.5vw;
	padding: 0.2vw;
}

.first-btn img:hover {
	cursor: pointer;
	background-color: white;
}

.header-nav {
	margin: 5vh;
	/* width: 80vw; */
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	font-weight: 500;
	font-size: 1.4rem;
}

.header-button {
	width: 5vw;
	align-items: center;
	text-align: center;
	padding: 5px;
	margin: 0 0.5vw 0 0.5vw;
	border-radius: 3px;
	padding: 0.5vw 1vw 0.5vw 1vw;
}

.header-button:hover {
	cursor: pointer;
	background-color: white;
}

.logout {
	background-color: black;
	padding: 0.5vw 1vw 0.5vw 1vw;
}

.logout:hover {
	background-color: #6a26ed;
}

.logout a {
	color: white;
}

.main-context {
	width: 80vw;
	height: 100vh;
	/* display: flex;
	align-items: center;
	justify-content: center; */
	border-top: solid 1px black;
	animation-name: scale-up-hor-center, fade;
	animation-duration: 1s, 0.8s;
	animation-delay: 0.5s, 0.5s;
	animation-fill-mode: both, both;
}

.nickname-input {
	background-color: white;
	padding: 1vw;
	width: 50vw;
	border: none;
	border-radius: 3px;
	color: #a6a6a7;
	font-size: 1.2rem;
	animation-name: focus-in-expand, fade;
	animation-duration: 1s, 1s;
	animation-delay: 0.5s, 0.5s;
	animation-fill-mode: both, both;
	font-family: urbanist;
	letter-spacing: 0.5px;
}

.nickname-input:focus {
	border: none;
	outline: none;
	color: black;
}

.nick-btn {
	background-color: black;
	color: white;
	padding: 1vw 0.5vw 1vw 0.5vw;
	width: 7vw;
	text-align: center;
	text-decoration: none;
	margin: 2vw;
	font-size: 1.2rem;
	animation-name: focus-in-expand, fade;
	animation-duration: 1s, 1s;
	animation-delay: 0.5s, 0.5s;
	animation-fill-mode: both, both;
	border-radius: 3px;
	font-weight: 600;
	letter-spacing: 0.2px;
}

.nick-btn:hover {
	background-color: #6a26ed;
}

.start-btn {
	position: relative;
	font-size: 1.1rem;
	color: black;
	text-decoration: none;
	padding: 0.5vw 1vw 0.5vw 1vw;
	animation-name: focus-in-expand, fade;
	animation-duration: 1s, 1s;
	animation-delay: 2s, 2s;
	animation-fill-mode: both, both;
	border-radius: 3px;
}

.start-btn:hover {
	background-color: white;
	cursor: pointer;
	transform: translateY(-3px);
	transition: all ease 0.2s 0s;
	box-shadow: 0px 5px 10px 1px rgb(106, 38, 237, 0.1);
}

.complete-display {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(-45deg, #6a26ed, #8d56ff, #ffa031, #ffffff);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.nickname-back {
	background: linear-gradient(-45deg, #6a26ed, #8d56ff, #ffa031, #ffffff);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.comp-back {
	background: linear-gradient(-45deg, #6a26ed, #8d56ff, #ffa031, #ffffff);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.comp-back img {
	animation-name: slide-in-fwd-top, fade;
	animation-duration: 0.8s, 0.5s;
	animation-delay: 0.3s, 0.3s;
	animation-fill-mode: both, both;
}

.comp-home {
	margin: 1vw 0.5vw 1vw 0.5vw;
	width: 7vw;
	height: 1.8vw;
	line-height: 1.8vw;
	align-items: center;
	text-align: center;
	padding: 5px 5px 5px 5px;
	color: white;
	background-color: black;
	font-size: 1.5rem;
	font-weight: 500;
	border-radius: 3px;
	animation-name: slide-in-bottom;
	animation-duration: 0.8s;
	animation-delay: 0.8s;
	animation-fill-mode: both;
}

.comp-home a {
	color: white;
}

.serial-number {
	margin: 3vw;
	background-color: #f8f8f9;
	width: 50vw;
	padding: 1vw;
	text-align: center;
	border-radius: 2px;
	font-weight: 500;
	font-size: 1.2rem;
	animation-name: scale-up-hor-center, fade;
	animation-duration: 0.8s, 0.8s;
	animation-delay: 0.8s, 0.8s;
	animation-fill-mode: both, both;
}

.serial-number > span {
	color: #6a26ed;
	font-size: 1.4rem;
	font-weight: 600;
	margin: 0 20px 0 20px;
}
.comp-home:hover {
	cursor: pointer;
	background-color: #6a26ed;
	color: white;
	transform: translateY(-7px);
	transition: all ease 0.2s 0s;
	box-shadow: 5px 5px 12px 1px rgb(0, 0, 0, 0.2);
}
