.main {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: #ededef;
	align-items: center;
}

.header {
	margin: 5vh;
	width: 80vw;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100vw;
}

.header-button{
	width:10vw;
	background: white;
	align-items: center;
	text-align: center;
	padding: 2px;
}
